body {
    background-color: #ffffffa0;
    color: #8f8c76;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    margin: 0;
}

h1 {
    color: #c33737;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid #000000;
}

h2 {
    font-size: 1.5em;
}

a:link,
a:visited {
    color: #8f4130;
}

a:hover {
    text-decoration: none;
}

.table_nutrition{
    border: 2px groove;
    color:#000000
    letter-spacing
}

html {
    font-family: sans-serif;
  }
  
  table {
    border-collapse: collapse;
    border: 2px solid rgb(128, 58, 58);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
  td, th {
    border: 1px solid rgb(187, 0, 0);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(255, 255, 255);
  }
  
  td {
    text-align: center;
  }
  
  tr:nth-child(even) td {
    background-color: rgb(255, 225, 225);
  }
  
  tr:nth-child(odd) td {
    background-color: rgb(255, 255, 255);
  }
  
  caption {
    padding: 10px;
  }