body {
    background-color: #cfd1c7;
    color: #230905;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    margin: 0;
}

h1 {
    color: #d7ba17;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid #000000;
}

h2 {
    font-size: 2em ;
}

.elkeszites{
    font-size: 2.5em;
    font-family: 'Algerian', sans-serif;  
}

.custom-button {
    font-size: 1.25em;
    text-align: center;
    flex-direction: column;
    border-width: 5px;
    border-radius: 11px;
    border-color: white;

}

a:link,
a:visited {
    color: #8f4130;
}

a:hover {
    text-decoration: none;
}

.table_nutrition{
    border: 2px groove;
    color:#000000
    letter-spacing
}

html {
    font-family: sans-serif;
  }
  
  table {
    border-collapse: collapse;
    border: 2px solid rgb(128, 58, 58);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
  td, th {
    border: 1px solid rgb(187, 0, 0);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(243,209,0);
  }
  
  td {
    text-align: center;
  }
  
  tr:nth-child(even) td {
    background-color: rgb(232, 230, 210);
  }
  
  tr:nth-child(odd) td {
    background-color: rgb(106, 57, 46);
  }
  
  caption {
    padding: 10px;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    background-color: blue;
    width: 60%;
    border-radius: 15px;
  }

  .flex-container > div {
    background-color: aqua;
    margin: 10px;
    padding: 10px;
    font-size: 1.1em;
    border-radius: 5px;
    text-align: center !;   /*Működőképes, csak kikell szedni a !-et*/
  }

  .flex-elkeszites {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 80%;
    border-radius: 18px;
    align-items:  ;
    justify-content: center;
    weight: 100vh;
    margin: auto;
    align: center;
  }

  .flex-elkeszites > div {
    background-color: white;
    margin: 13px;
    padding: 15px;
    font-size: 1.1em;
    border: 6px;
    border-radius: 18px;
  }
  .linkbutton-container {
    text-align: center;
  }